HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Игнорируем Docker-образы и тома
**/target/
**/build/
**/node_modules/
**/.docker/
**/.idea/
**/.vscode/

# Игнорируем логи и временные файлы
*.log
*.tmp
*.swp

# Игнорируем Docker-тома
**/db-data/
**/postgres-data/

# Игнорируем локальные конфигурации
.env

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
